body {
    background:#f3f3f3;
    width:75%;
    margin:auto;
    align-content: center;
}
table {
    text-align:center;
}
.column {
    float: left;
    width: 25%;
    padding: 10px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column_50 {
    float: left;
    width: 50%;
    padding: 10px; /* Should be removed. Only for demonstration */
}
.column_25 {
float: left;
width: 25%;
padding: 10px; /* Should be removed. Only for demonstration */
}
  